@charset "UTF-8"; 

:root {
  --background-default: #F5F4F0;
  --border-primary:#D9D9D9;
  
  /*TEXT*/

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  /* ACCENT */

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  /* FONT FAMYLY */
  --font-famyly: "Open Sans", sans-serif;

  /* SIZE */
  --h1-size: 36px;
  --h2-size: 32px;
  --h3-size: 28px;
  --headline-size: 16px;
  --paragraph-size: 16px;
  --subtitle-size: 16px;



  /* WEIGHT */
  --h1-wht: bold;
  --h2-wht: bold;
  --h3-wht: bold;
  --headline-wht: bold;
  --paragraph-wht: "regular";
}
*{
  font-family: var(--font-famyly);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: var(--h1-size);
  font-weight: var(--h1-wht);
  color: var(--text-primary);
}

h2{
  font-size: var(--h2-size);
  font-weight: var(--h2-wht);
  color: var(--text-primary) ;
}

h3{
  font-size: var(--h3-size);
  font-weight: var(--h3-wht);
  color: var(--text-primary);
}

body{
  width: 1280px;
  margin: auto;
  background: var(--background-default);
}

#container {
  background: var(--background-default);
  width: 1120px;
  margin: 88px auto 0;
}

.par1 {
 font-size: var(--headline-size);
 color: var(--text-headline);
 font-weight: var(--headline-wht);
 height: 22px;
}

.cor-paragraph {
  color: var(--text-secondary);
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-wht);

}

#section1 {
  height: 79px;
}

#section1 h1 {
  height: 49px;
  margin-top: 8px;
}

#section2 {
  margin: 40px 0;
  height: 729px;
}

#section2 img {
  height: 660px;
  width: 100%;
}

#section2 p {
  color: var(--text-secondary);
  font-size: var(--subtitle-size);
  font-style: italic;
  margin-top: 24px;
  text-align: center;
}


img {
  border-radius: 28px;
  width: 100%;
  height: 350px;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.156);
  
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-primary) ;
}

.divider2 {
  width: 100%;
  height: 1px;
  margin: 40px;
  background-color: var(--border-primary) ;
}

#section3  {
 margin-top: 64px;
}

#section3 .pgf1 {
  margin-bottom: 2px;
}

#section3 .pgf2{
  margin-bottom: 64px;
}

li{
  list-style-position: inside;
  font-weight: bold;

}
.lista{
  padding-left: 10px;
  color: var(--text-primary);
  font-size: var(--h3-size);
  font-weight: var(--h3-wht);
  margin: 20px 0px 4px 0px;
  
}

ul{
  padding-left: 10px;
}

ul li::marker {
  color: var(--text-secondary);
}

.l1 {
  color: var(--accent-blue);
}

.l2{
  color: var(--accent-purple);
}

.l3{
  color: var(--accent-pink);
}

.l4{
  color: var(--accent-orange);
}
#section5 {
  margin: 48px 0px;
}

span{
  color: var(--text-secondary);
  font-size: var(--paragraph-size);
  font-weight: bold;
}

.p-final {
    text-align: center;
}

footer{
  margin: 73px 0px 48px 0;
}
footer p {
  text-align: center;
  font-size: 16px;
  color: var(--text-secondary);
} 

footer img{
  width: 16px;
  height: 16px;
}